
*.dll
*.cache
IPodStorageUnitTests/obj/project.nuget.cache
IPodStorageUnitTests/obj/Debug/netcoreapp3.1/IPodStorageUnitTests.csprojAssemblyReference.cache
IPodStorageUnitTests/obj/Debug/netcoreapp3.1/IPodStorageUnitTests.csproj.FileListAbsolute.txt
IPodStorageUnitTests/obj/Debug/netcoreapp3.1/IPodStorageUnitTests.assets.cache
IPodStorageUnitTests/obj/Debug/netcoreapp3.1/IPodStorageUnitTests.AssemblyInfoInputs.cache
IPodStorageUnitTests/obj/Debug/netcoreapp3.1/IPodStorageUnitTests.AssemblyInfo.cs
IPodStorage/obj/project.nuget.cache
IPodStorage/obj/Debug/netcoreapp3.1/IPodStorage.pdb
IPodStorage/obj/Debug/netcoreapp3.1/IPodStorage.genruntimeconfig.cache
IPodStorage/obj/Debug/netcoreapp3.1/IPodStorage.dll
IPodStorage/obj/Debug/netcoreapp3.1/IPodStorage.csprojAssemblyReference.cache
IPodStorage/obj/Debug/netcoreapp3.1/IPodStorage.csproj.FileListAbsolute.txt
IPodStorage/obj/Debug/netcoreapp3.1/IPodStorage.csproj.CoreCompileInputs.cache
IPodStorage/obj/Debug/netcoreapp3.1/IPodStorage.assets.cache
IPodStorage/obj/Debug/netcoreapp3.1/IPodStorage.AssemblyInfoInputs.cache
IPodStorage/obj/Debug/netcoreapp3.1/IPodStorage.AssemblyInfo.cs
IPodStorage/bin/Debug/netcoreapp3.1/IPodStorage.runtimeconfig.json
IPodStorage/bin/Debug/netcoreapp3.1/IPodStorage.runtimeconfig.dev.json
IPodStorage/bin/Debug/netcoreapp3.1/IPodStorage.pdb
IPodStorage/bin/Debug/netcoreapp3.1/IPodStorage.exe
IPodStorage/bin/Debug/netcoreapp3.1/IPodStorage.dll
IPodStorage/bin/Debug/netcoreapp3.1/IPodStorage.deps.json
IPodStorage/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
